<!DOCTYPE html>
{% load staticfiles %}
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <meta name="viewport" content="width=device-width">
        <meta name="author" content="Juanblo">

        <meta property="og:locale" content="es_CO">
        <meta property="og:site_name" content="Estación salsera" />
        <meta property="og:url" content="http://{{ request.get_host }}{{ request.get_full_path }}">
        {% block opengraph %}
        <meta property="og:type" content="website">
        <meta property="og:title" content="">
        <meta property="og:description" content="">
        <meta property="og:image" content="{% static "img/social_opengraph.jpg" %}">
        {% endblock opengraph %}

        <meta itemprop="name" content="">
        <meta itemprop="description" content="">
        <meta itemprop="image" content="{% static "img/social_opengraph.jpg" %}">

        <title>Estación salsera - {% block title %}{% endblock %}</title>

        <link rel="apple-touch-icon" href="{% static "img/apple-touch-icon.jpg" %}">
        <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap/bootstrap.min.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap/bootstrap-responsive.min.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">

    </head>

    <body>
        <div class="navbar-wrapper">
            <div class="container">
                <div class="navbar navbar-inverse">
                    <div class="navbar-inner">
                        <a class="brand" href="/">La estación salsera</a>
                        <div class="nav-collapse collapse">
                            <ul class="nav">
                                <li><a href="mailto:estacionsalsera@gmail.com">Bailamos ?</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% block content %}{% endblock %}

        <footer>
            <p class="pull-right"><a href="#">Back to top</a></p>
            <p>&copy; 2013 Estación Salsera, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
        </footer>


        <script src="{% static "js/libs/jquery-1.9.1.min.js" %}"></script>
        <script src="{% static "js/libs/bootstrap.min.js" %}"></script>
        <script>
        !function ($) {
            $(function(){
                $('#myCarousel').carousel()
            })
        }(window.jQuery);
        </script>
    </body>
</html>
